.sidebar {
  position: fixed;
  top: var(--toolbar-height);
  bottom: 0;
  left: 0;
  width: inherit;
  overflow-y: hidden;
}

.channel-button {
  box-shadow: none;
  cursor: pointer;
  justify-content: flex-start;
}

.channel-button-selected {
  cursor: pointer;
  justify-content: flex-start;
}
