.sidebar {
  background-color: var(--plum-2);
}

/* .sidebar {
  position: fixed;
  top: var(--toolbar-height);
  bottom: 0;
  left: 0;
  width: inherit;
  overflow-y: hidden;
} */

.channel-button {
  box-shadow: none;
  justify-content: flex-start;
}

.channel-button-selected {
  justify-content: flex-start;
}
